extends layout

block content
  h1= title
  p Welcome to #{title}!
  p This is the web server, accessed by the Android clients.
  p
  p VOTE FOR US! :)
  p
  p
  p (C) Amit Shimoni, Ido Back, Omer Turgeman, Ido Orlov, Alon Lavi. HackIDC 2014.